spring:
  datasource:
    url: jdbc:mysql://kkanbu-test-db.clemtdx79oxt.ap-northeast-2.rds.amazonaws.com:3306/kkanbustock
    username: admin
    password: kkanbustock

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false #osiv
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show-sql: true
        format_sql: true
  mvc:
    pathmatch:
      matching-strategy:
        ant_path_matcher

jwt:
  secret: icCfO69JA9szqMdptUvy8A71edtwzsnAwv6cQjtBE/kkHXhPnhokFYej6HGbtZFZ9GjIjzLLBM0jphmCJO04ArSaiigEZvGbjJBwLosImTSYBkddWn6XWalRkoWxGEeW61oz1Yts9HwXMJ3lTy5P2c+KEIL1GKy77CC8/ISVq9kv5d256qtDNTYj0A9+vjlHGpMoQgIhKGm5Sq11Sje+750hzVMkINLA5AJTiNOhj7JschPXgC7VPd8S6HRfa2Jn6PFtDQMEnW4IQ7+NwX6jSaGz2+qBFmyH5xQdAYkj13Rd3XmgQEahVXWTKPxDU78EpfRoNuE3F0og8sI3TFUkOQ==

logging:
  level:
    org:
      springframework:
        transaction: DEBUG
        jdbc:
          core:
            JdbcTemplate: DEBUG
        orm:
          jpa: DEBUG
      hibernate:
        orm:
          jdbc:
            bind: TRACE

naver:
  clientId: 08LXqjCFLUGS8u6rNCYA
  clientSecret: px5zLhiNek

server:
  servlet:
    encoding:
      charset: UTF-8
      force: true
