spring:
  datasource:
    url: jdbc:mysql://phoenix-database.clemtdx79oxt.ap-northeast-2.rds.amazonaws.com:3306/kkanbustock
    username: admin
    password: phoenix123
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 587337760758-hur61mf58hofu8ji7o4unc5qru0re474.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: http://localhost:8080/login/oauth2/code/google
            scope:
              - email
              - profile

oauth:
  authorizedRedirectUri: http://localhost:3000

jwt:
  secret: icCfO69JA9szqMdptUvy8A71edtwzsnAwv6cQjtBE/kkHXhPnhokFYej6HGbtZFZ9GjIjzLLBM0jphmCJO04ArSaiigEZvGbjJBwLosImTSYBkddWn6XWalRkoWxGEeW61oz1Yts9HwXMJ3lTy5P2c+KEIL1GKy77CC8/ISVq9kv5d256qtDNTYj0A9+vjlHGpMoQgIhKGm5Sq11Sje+750hzVMkINLA5AJTiNOhj7JschPXgC7VPd8S6HRfa2Jn6PFtDQMEnW4IQ7+NwX6jSaGz2+qBFmyH5xQdAYkj13Rd3XmgQEahVXWTKPxDU78EpfRoNuE3F0og8sI3TFUkOQ==

authorizedRedirectUri: http://localhost:8080/login/oauth2/authorization

jpa:
  database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  open-in-view: false #osiv
  hibernate:
    ddl-auto: update
  properties:
    hibernate:
      show-sql: true
      format_sql: true

logging:
  level:
    org.springframework.orm.jpa: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.transaction: DEBUG
    org.springframework.security: DEBUG

server:
  servlet:
    encoding:
      charset: UTF-8
      force: true